{% extends 'home/base_home.html' %}

{% block title %}
Frequently Asked Questions
- madscientist.is-a-geek.net
{% endblock %}

{% block subsection5_li %}active_subsection_li{% endblock %}

{% block content %}
<article>
	<h1>Frequently Asked Questions</h1>
	<h2>What happened to the scratch pad?</h2>
	<p>It has been moved into a more interactive environment - <a href="/phpBB3/viewforum.php?f=4">my cave in the forum</a>.</p>
	<p>I had considered it for some time, but when Adam mentioned that he would like to subscribe to this so he could track it easier, I figured it was time to do something else with it besides it just being a rant-only box. While he was after a slightly different functionality than I had originally pondered, I believe this first step to be at least in the right general direction. I don't have any RSS feed implemented (at least yet anyway), but you can at least respond now to my rants and raves. We'll have to see about that whole subscription thing... :)</p>
	<h2>Why do you have things like the home video of the kids within the vault?</h2>
	<p>This is actually just a means to help control bandwidth usage. They are not there for the same reasons as the rest of the content in the vault. It is only really to help prevent external embedding. I am not on a full speed "pipe" like most commercial web sites, and must watch my traffic usage. This does not mean that if you have a login that you are restricted from anything in any way. Browse, view, and enjoy as much as you wish; This whole thing is here for you!</p>
</article>
{% endblock %}
