{% extends 'home/base_home.html' %}

{% block title %}
Frequently Asked Questions
- madscientist.is-a-geek.net
{% endblock %}

{% block subsection5_li %}active_subsection_li{% endblock %}

{% block content %}
<article>
	<h1>Frequently Asked Questions</h1>

	<h2>What happened to the scratch pad?</h2>
	<p>It has been moved into a more interactive environment - <a href="/phpBB3/viewforum.php?f=4">my cave in the forum</a>.</p>
	<p>I had considered it for some time, but when Adam mentioned that he would like to subscribe to this so he could track it easier, I figured it was time to do something else with it besides it just being a rant-only box. While he was after a slightly different functionality than I had originally pondered, I believe this first step to be at least in the right general direction. I don't have any RSS feed implemented (at least yet anyway), but you can at least respond now to my rants and raves. We'll have to see about that whole subscription thing... :)</p>

	<h2>Why do you have things like the home video of the kids within the vault?</h2>
	<p>This is actually just a means to help control bandwidth usage. They are not there for the same reasons as the rest of the content in the vault. It is only really to help prevent external embedding. I am not on a full speed "pipe" like most commercial web sites, and must watch my traffic usage. This does not mean that if you have a login that you are restricted from anything in any way. Browse, view, and enjoy as much as you wish; This whole thing is here for you!</p>

	<h2>I have an FTP/Vault login, but the forum won't let me log in with it. Why?</h2>
	<p>Your FTP/Vault and Forum logins are completely separate from one another. To be able to post to the forum (and access certain topics) you must register a user with the forum itself.</p>
	<p><strong>The same applies in reverse:</strong></p>
	<p>The user you create in the forum will not grant you access to the FTP/Vault sections either. To acquire a login for FTP and the Vault,  log into the forum, and follow the instructions in the "Request an elite user login" topic in the "Feedback" section. Please note that this topic will not become visible <strong>unless you are logged into the forum</strong>.</p>
	<p>If you're a little on the "closer" side, and want an FTP/Vault login, you can go about it 'the old fashioned way'. :)</p>
	<p>For the forum however, everyone is on their own, and must create their own users.</p>

	<h2>How do I upload to the FTP site?</h2>
	<p>Depending on your operating system, this has a few different answers. Unfortunately, FTP has kind of taken a back seat to many of the other protocols, and in fact is being phased out as far as mainstream use goes. This is primarily because as it is used today, for the majority, upload is not an important aspect.</p>
	<p>Regardless of your operating system, there is a rather nice way of dealing with the problem, but particularly for Windows users. If you are already using Firefox 3.x+, you almost have everything you need to make your experience with this site virtually seamless. An add-on called <a href="http://fireftp.mozdev.org/" target="_blank">FireFTP</a> is a really nice utility for dealing with FTP nowadays. Click the link to visit the download site and follow the instructions to install it so you can continue on with a much better view of what I have to offer.</p>
	<p>If you are in Windows and don't use Firefox, or have a really old version that won't support FireFTP, you can use Explorer to navigate the FTP site. The key here is that you don't use <strong>Internet</strong> Explorer. You must use the native <strong>Windows</strong> explorer. To make matters even more confusing for you, Microsoft has made it part of their agenda to rename their bogus web browser as "Windows Internet Explorer". Stay away from that. You'll just have problems.</p>
	<p>For this instruction, I'm going to assume your OS is Windows XP. I won't even acknowledge later versions of Windows. Long story. To use the real Explorer that comes with Windows that handles FTP properly, click on "Start" -&gt; Run. Copy and paste the following into the dialogue:</p>
	<p>explorer ftp://madscientist.is-a-geek.net/</p>
	<p>and press Enter. If all went as planned, you will be presented with another dialogue box asking for your login and password.</p>
	<p>There are only two locations you can upload to. Either the "Upload" folder, which is public, or anywhere in your private folder (if you have one). You can drag and drop files to these two folders as if they were any other folder on your computer. If you do not have a private folder, but you would like one, email or call me and I will get you set up with one.</p>

	<h2>What is 'Legacy FTP' and why does it ask for a password?</h2>
	<p>This is the link to the site's original form. The authentication is to prevent search engines from indexing the site, as well as to provide for a means to have private folders where users can store some of their more prized digital possessions. If you have a user and password, you have access to the original content, and your private folder as well, if you have one.</p>
	<p>If you don't have a user and password, email me and I'll see about setting you up with what you need to access this part of the site. </p>

	<h2>What is this 'Vault' and why does it ask for a password?</h2>
	<p>The Vault is my answer to a pesky problem, and I can't really go into it much deeper than that. Let's just say it has to be there. It uses the same authentication system that FTP does.</p>

	<h2>How do I navigate this place? The pages are mostly empty!</h2>
	<p>Ahh, only until you get to where you're going! On the left, the navigation panels change depending on where you are in the site. There are two that are always present; 'Main' and 'Things to Do'. The others will appear, disappear, and change down below as you go from category to category, revealing what is available in those areas.</p>
	<p><strong>This is apparently one of the more popular gripes, and I am working on a better navigation system.</strong> Until then, please bear with me; it's not as easy as it sounds to come up with a navigation system that makes sense to the masses.</p>

	<h2>Why are there these awkward gaps here and there on the pages?</h2>
	<p>More than likely, you're not using Firefox as your browser. I haven't bothered with any of the subverted hacks that go along with trying to pacify every browser there is out there. They all have funny quirks that make them do wierd things that another browser doesn't do on a given page. Most webmasters have the time to hunt these bugs and squash them; I don't. Besides, almost everyone I know uses Firefox.</p>
	<p>All of this was written, tested, and looks just how I want it to appear in Firefox on both Linux and Windows versions. If the gaps cause you undue stress, I recommend getting Firefox anyway, to solve more than just gap issues.</p>
	<p>Short answer? I think I mentioned Firefox.</p>

	<h2>This whole site looks a lot like Wikipedia. Why?</h2>
	<p>While I was in my early stages of learning basic HTML, I liked the way Wikipedia looked, and so I 'borrowed' a page and took it apart until I understood the basics of how it worked. I adjusted some things here and there, and before I knew it, I had a page that looked the way I liked. So I went with it. I hope nobody minds...</p>

	<h2>I thought you said this was supposed to make things easier to find . . .</h2>
	<p>Well, yes and no. The idea is that it is more <strong>accessible</strong>, not necessarily a super easy way to locate everything.</p>
	<p>The overall goal is to showcase things before they get put into the back burner, with access only provided by FTP. Think of this as a "what's hot", a collection of some of the better stuff I have to offer at the moment. It's also the playground for new things that I have just acquired.</p>
	<p>It may turn out that the site will go more this direction rather than FTP, but for now, this is what I am offering. :)</p>

	<h2>I keep getting '404 - Not Found'. Why?</h2>
	<p>This should no longer be a problem, but in the event you have encountered this, here is the explaination.</p>
	<p>Occasionally following a site rebuild, the browser will come back with '404 - Not Found'. It is due to the method that the site uses to maintain itself, and will resolve itself automatically. Try refreshing the page after about 10 seconds and the message should go away, with the page displaying properly. If you cannot get a page after about 30 seconds or so, there is another problem, so please email or call me and let me know so I can fix it. This will be particularly noticed when 'Developer Mode Active' has been appearing at the top of the pages. I have rewritten some things in an effort to minimize these interruptions.</p>

	<h2>I had another question but I forgot it.</h2>
	<p>Seriously. Firefox.</p>

</article>
{% endblock %}
