{% extends "home/base_home.html" %}

{% block title %}
	Welcome to madscientist.is-a-geek.net
{% endblock %}

{% block content %}
	<h1>Welcome to madscientist.is-a-geek.net</h1>
	<section>
		<h1>Headlines</h1>
		<ul>
			<li>Hello, world! This is where a headline would go. For now, this is just a placeholder.</li>
		</ul>
	</section>
	<section>
		<h1>Known issues</h1>
		<ul>
			<li>Nothing technical at this time - The site is under heavy construction, so please bear with me while I get things straightened out! :)</li>
		</ul>
		<p>If you think you've come across a problem that isn't currently listed here, see the <a href="{% url faq %}">FAQ</a> page for possible solutions.</p>
		<p>If this isn't of any help, and you are still experiencing problems, drop me a line in the <a href="/phpBB3/viewforum.php?f=13">bug reporting area</a> of the forum and let me know what the issue is so I can see about resolving it. If the problem is sufficient that it is affecting access to the forum itself, please email or call me with the description of the problem.</p>
	</section>
{% endblock %}

