{% extends "home/base_home.html" %}

{% block title %}
Welcome
- madscientist.is-a-geek.net
{% endblock %}

{% block content %}
<section>
	<h1>Welcome to madscientist.is-a-geek.net.</h1>
	<p>This is my just-for-fun personal website. Here you can browse various things that interest me. Enjoy!</p>
	<section>
		<h1>Headlines</h1>
		<ul>
			<li>Hello, world! This is where a headline would go. For now, this is just a placeholder.</li>
		</ul>
	</section>
	<section>
		<h1>Known issues</h1>
		<ul>
			<li>The site's being developed, so it's obviously not finished yet.</li>
		</ul>
		<p><a href="/phpBB3/viewforum.php?f=13">Report a problem with the site.</a></p>
	</section>
</section>
{% endblock %}
