{% extends 'home/base_home.html' %}

{% block head %}
{{ block.super }}
<link rel="alternate" type="application/rss+xml" href='{% url django.contrib.syndication.views.feed "whats_new" %}' title="What's New" />
{% endblock %}

{% block title %}
What's New
- madscientist.is-a-geek.net
{% endblock %}

{% block content %}
<section>
	<h1>What's New</h1>

	{% if object_list %}
	<ul>
		{% for news_item in object_list %}
		{% ifchanged news_item.event_date %}
		{% if not forloop.first %}
			</ul>
		</li>
		{% endif %}
		<li>{{ news_item.event_date|date:"m/d/y" }}
			<ul>
		{% endifchanged %}
				<li>{{ news_item.body }}</li>
		{% if forloop.last %}
			</ul>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
	{% else %}
	<p>Nothing's new.</p>
	{% endif %}
</section>
{% endblock %}
