<!DOCTYPE html>
<html>
	<head>
		{% block head %}{% endblock %}
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<header>
			<hgroup>
				<h1>madscientist.is-a-geek.net</h1>
				<h2>Sharing my strange world.</h2>
			</hgroup>
			{% block sections %}
			<nav>
				<ul>
					<li><a href="">Entertainment</a></li>
					<li><a href="">Photos</a></li>
					<li><a href="">Articles</a></li>
					<li><a href="">Forum</a></li>
					<li><a href="ftp://madscientist.is-a-geek.net/">FTP</a></li>
				</ul>
			</nav>
			{% endblock %}
			{% block subsections %}{% endblock %}
		</header>
		{% block content %}{% endblock %}
	</body>
</html>
